{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="/static/img/author_photo.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Артём Меньшиков</h5>
            <p class="text-muted mb-1">Intern Python Developer</p>
            <p class="text-muted mb-4">Россия, г.Северодвинск</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center align-self-right p-3">
                <p class="mb-0"><b>Github:    </b><a href='https://github.com/a-menshikov' target=blank>/a-menshikov</a></p>  
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center align-self-right p-3">
                <p class="mb-0"><b>Telegram:    </b><a href='https://t.me/Menshikovas' target=blank>@Menshikov_as</a></p>  
              </li>           
              <li class="list-group-item d-flex justify-content-between align-items-center align-self-right p-3">
                <p class="mb-0"><b>VK:    </b><a href='https://vk.com/menshikov_as' target=blank>menshikov_as</a></p>  
              </li>               
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Имя</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Меньшиков Артём Сергеевич</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <a href="mailto:a_menshikov1989@gmail.com"><p class="text-muted mb-0">a_menshikov1989@gmail.com</p></a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Телефон</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">+7-911-550-36-04</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Адрес</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Россия, Архангельская область, г.Северодвинск</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Образование</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">САФУ им. М.В.Ломоносова "Менеджмент организации"</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">О себе</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Характер стойкий, нордический. Уровень владения гуглом за последние пару недель прокачан до небес. Гвидо Ванлав Россум =)</p>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %} 